<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/rework-station/"><img itemprop="image" src="/images/products/rework-station.jpg" alt="Rework Station"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/rework-station/"><span itemprop="name">Rework Station</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/soldering-station/"><img itemprop="image" src="/images/products/soldering-station.jpg" alt="Soldering Station"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/soldering-station/"><span itemprop="name">Soldering Station</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/microscope/"><img itemprop="image" src="/images/products/microscope.jpg" alt="Microscope"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/microscope/"><span itemprop="name">Microscope</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/lcd-repair-equipment/"><img itemprop="image" src="/images/products/lcd-repair-equipment.jpg" alt="LCD Repair Equipment"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/lcd-repair-equipment/"><span itemprop="name">LCD Repair Equipment</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/regulated-power-supply/"><img itemprop="image" src="/images/products/regulated-power-supply.jpg" alt="Regulated Power Supply"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/regulated-power-supply/"><span itemprop="name">Regulated Power Supply</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/ultrasonic-cleaning-machine/"><img itemprop="image" src="/images/products/ultrasonic-cleaning-machine.jpg" alt="Ultrasonic Cleaning Machine"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/ultrasonic-cleaning-machine/"><span itemprop="name">Ultrasonic Cleaning Machine</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/maintenance-tools/"><img itemprop="image" src="/images/products/maintenance-tools.jpg" alt="Maintenance Tools"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/maintenance-tools/"><span itemprop="name">Maintenance Tools</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/mobile-phone-battery/"><img itemprop="image" src="/images/products/mobile-phone-battery.jpg" alt="Mobile phone battery"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/mobile-phone-battery/"><span itemprop="name">Mobile phone battery</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/soldering-consumable/"><img itemprop="image" src="/images/products/soldering-consumable.jpg" alt="Soldering Consumable"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/soldering-consumable/"><span itemprop="name">Soldering Consumable</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/cleaning-consumable/"><img itemprop="image" src="/images/products/cleaning-consumable.jpg" alt="Cleaning Consumable"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/cleaning-consumable/"><span itemprop="name">Cleaning Consumable</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/lcd-repair-consumable/"><img itemprop="image" src="/images/products/lcd-repair-consumable.jpg" alt="LCD Repair Consumable"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/lcd-repair-consumable/"><span itemprop="name">LCD Repair Consumable</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/other-consumable/"><img itemprop="image" src="/images/products/other-consumable.jpg" alt="Other Consumable"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/other-consumable/"><span itemprop="name">Other Consumable</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/digital-series/"><img itemprop="image" src="/images/products/digital-series.jpg" alt="Digital Series"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/digital-series/"><span itemprop="name">Digital Series</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/software-series/"><img itemprop="image" src="/images/products/software-series.jpg" alt="Software Series"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/software-series/"><span itemprop="name">Software Series</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/marking-machine/"><img itemprop="image" src="/images/products/marking-machine.jpg" alt="Marking Machine"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/marking-machine/"><span itemprop="name">Marking Machine</span></a></div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="thumbnail">
      <a itemprop="url" href="{{ site.url }}/other/"><img itemprop="image" src="/images/products/other.jpg" alt="Other"></a>
      <div class="caption text-center"><a itemprop="url" href="{{ site.url }}/other/"><span itemprop="name">Other</span></a></div>
    </div>
  </div>
</div>