<div class="col-xl-3 col-lg-4 order-lg-1">
  <aside class="sidebar sidebar-offcanvas">
    <section class="widget widget-categories">
      <h3 class="widget-title">Products</h3>
      <ul>
        <li><a href="{{ site.url }}/featured-products/">Featured Products</a></li>
        <li><a href="{{ site.url }}/new-arrival/">New Arrival</a></li>
        <li><a href="{{ site.url }}/totes/">Totes</a></li>
        <li><a href="{{ site.url }}/messenger-bag/">Messenger Bag</a></li>
        <li><a href="{{ site.url }}/clutches/">Clutches</a></li>
        <li><a href="{{ site.url }}/briefcase/">Briefcase</a></li>
        <li><a href="{{ site.url }}/backpack/">Backpack</a></li>
        <li><a href="{{ site.url }}/accessories/">Accessories</a></li>
        <li><a href="{{ site.url }}/childrens-series/">Children's Series</a></li>
        <li><a href="{{ site.url }}/mens-series/">Men's Series</a></li>
      </ul>
    </section>
    <section class="widget widget-featured-posts">
      <h3 class="widget-title">Last News</h3>{% for post in site.categories["news"] limit:8 %}
      
        <div class="entry">
          <div class="entry-content">
          <div itemscope itemtype="http://schema.org/Article">
            <h4 class="entry-title"><a itemprop="url" href="{{ site.url }}{{ post.url }}"><span itemprop="headline">{{ post.title }}</span></a></h4>
          </div>
        </div>
      </div>{% endfor %}
    </section>
    <section class="promo-box" style="background-image: url(/images/assets/nav-contact-bg.jpg);">
      <span class="overlay-dark" style="opacity: .35;"></span>
      <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
        <h3 class="text-bold text-light text-shadow">Any Question</h3>
        <a class="btn btn-sm btn-primary" href="{{ site.url }}/contact/">Contact Us</a>
      </div>
    </section>
  </aside>
</div>