<div class="col-xl-3 col-lg-4 order-lg-1">
  <aside class="sidebar sidebar-offcanvas">
    <section class="widget widget-categories">
      <h3 class="widget-title">Products</h3>
      <ul>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
        <li><a href="{{ site.url }}//">Editor's Choice</a></li>
      </ul>
    </section>
    <section class="widget widget-featured-posts">
      <h3 class="widget-title">Featured Posts</h3>
      <div class="entry">
        <div class="entry-content">
          <h4 class="entry-title"><a href="blog-single-rs.html">Trending Winter Boots</a></h4>
        </div>
      </div>
      <div class="entry">
        <div class="entry-content">
          <h4 class="entry-title"><a href="blog-single-rs.html">Trending Winter Boots</a></h4>
        </div>
      </div>
      <div class="entry">
        <div class="entry-content">
          <h4 class="entry-title"><a href="blog-single-rs.html">Trending Winter Boots</a></h4>
        </div>
      </div>
      <div class="entry">
        <div class="entry-content">
          <h4 class="entry-title"><a href="blog-single-rs.html">Trending Winter Boots</a></h4>
        </div>
      </div>
      <div class="entry">
        <div class="entry-content">
          <h4 class="entry-title"><a href="blog-single-rs.html">Trending Winter Boots</a></h4>
        </div>
      </div>
    </section>
    <section class="promo-box" style="background-image: url(img/banners/01.jpg);">
      <span class="overlay-dark" style="opacity: .35;"></span>
      <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
        <h3 class="text-bold text-light text-shadow">New 2017<br>Handbag Collection</h3>
        <h4 class="text-light text-thin text-shadow">has just arrived!</h4><a class="btn btn-sm btn-primary" href="shop-grid-ls.html">Shop Now</a>
      </div>
    </section>
  </aside>
</div>