---
layout: products-list
permalink: /featured-products/
category: products
title: Featured Products
keywords: Featured Products
description: Featured Products
---
{% for post in site.categories["products"] %}{% if post.featured-products == 'featured-products' %}<div class="col-sm-4 margin-bottom-2x pb-2">
  <div class="card text-center">
    <a href="{{ site.url }}{{ post.url }}"><img class="card-img-top" src="/images/products/{{ post.image }}.jpg" alt="{{ post.title }}"></a>
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      <a class="btn btn-outline-primary btn-sm" href="{{ site.url }}{{ post.url }}">Learn More</a>
    </div>
  </div>
</div>{% endif %}{% endfor %}