<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/sunshine-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Sunshine">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,800" rel="stylesheet">
    {% stylesheet application %}
    <script src="/assets/modernizr.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112764980-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112764980-1');
    </script>
  </head> 
  <body{% if page.type-en == 'news' %} class="single"{% endif %}>  
    <div id="wrapper">
      <header class="header header2 gray sticky-header">
        <div class="header-top custom">
          <div class="container">
            <div itemscope itemtype="http://schema.org/Organization">
              <div class="dropdown header-dropdown pull-right">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ site.url }}">English</a></li>
                </ul>
              </div>
              <ul class="top-menu hidden-sm hidden-xs pull-right">
                <li><a href="tel:{{ site.tel1 }}"><i class="fa fa-phone"></i> <span itemprop="telephone">{{ site.tel1 }}</span></a></li>
                <li><a href="tel:{{ site.tel2 }}"><i class="fa fa-phone"></i> <span itemprop="telephone"><span itemprop="telephone">{{ site.tel2 }}</span></a></li>
                <li><a href="tel:{{ site.tel3 }}"><i class="fa fa-phone"></i> <span itemprop="telephone">{{ site.tel3 }}</span></a></li>
              </ul>
              <div class="top-links pull-left" style="margin-right:10px"><a id="cb-search-btn"><i class="fa fa-search"></i> Search Products</a></div>
              <div class="social-icons hidden-xs pull-left">
                <a itemprop="url" href="{{ site.facebook }}" target="_blank" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a itemprop="url" href="{{ site.twitter }}" target="_blank" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a itemprop="url" href="{{ site.linkedin }}" target="_blank" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                <a itemprop="url" href="{{ site.github }}" target="_blank" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                <a itemprop="url" href="{{ site.youtube }}" target="_blank" class="social-icon" title="Youtube"><i class="fa fa-youtube"></i></a>
                <a data-toggle="modal" data-target="#myModal" class="social-icon" title="WeChat"><i class="fa fa-weixin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="header-inner">
          <div class="container">
            <a href="{{ site.url }}" class="site-logo" title="Sunshine Logo">
              <img src="/images/assets/sunshine-logo.png" alt="Sunshine Logo">
              <span class="sr-only">Sunshine</span>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-container" aria-expanded="false">
              <span class="toggle-text">Menu</span>
              <span class="toggle-wrapper">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav-container">
              <ul class="nav navbar-nav">
                <li class="dropdown megamenu-container {% if page.category == 'products' %}active{% endif %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products<span class="angle"></span></a>
                  <div class="dropdown-menu megamenu" role="menu">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-3 hidden-xs" align="center">
                          <img src="/images/assets/products-nav.png" class="img-responsive" alt="Sunshine Products">
                        </div>
                        <div class="col-sm-3">
                          <ul>
                            <li><a href="{{ site.url }}/rework-station/">Rework Station</a></li>
                            <li><a href="{{ site.url }}/soldering-station/">Soldering Station</a></li>
                            <li><a href="{{ site.url }}/microscope/">Microscope</a></li>
                            <li><a href="{{ site.url }}/lcd-repair-equipment/">LCD Repair Equipment</a></li>
                            <li><a href="{{ site.url }}/regulated-power-supply/">Regulated Power Supply</a></li>
                            <li><a href="{{ site.url }}/ultrasonic-cleaning-machine/">Ultrasonic Cleaning Machine</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-3">
                          <ul>
                            <li><a href="{{ site.url }}/maintenance-tools/">Maintenance Tools</a></li>
                            <li><a href="{{ site.url }}/mobile-phone-battery/">Mobile phone battery</a></li>
                            <li><a href="{{ site.url }}/soldering-consumable/">Soldering Consumable</a></li>
                            <li><a href="{{ site.url }}/cleaning-consumable/">Cleaning Consumable</a></li>
                            <li><a href="{{ site.url }}/lcd-repair-consumable/">LCD Repair Consumable</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-3">
                          <ul>
                            <li><a href="{{ site.url }}/other-consumable/">Other Consumable</a></li>
                            <li><a href="{{ site.url }}/digital-series/">Digital Series</a></li>
                            <li><a href="{{ site.url }}/software-series/">Software Series</a></li>
                            <li><a href="{{ site.url }}/marking-machine/">Marking Machine</a></li>
                            <li><a href="{{ site.url }}/other/">Other</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="{% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">News</a></li>
                <li class="{% if page.category == 'about' %}active{% endif %}"><a href="{{ site.url }}/about/">About Sunshine</a></li>
                <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="main">
        {{ content }}
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div itemscope itemtype="http://schema.org/Organization">
                <div class="widget about-widget">
                  <img itemprop="image" src="/images/assets/sunshine-logo.png" alt="Sunshine Logo">
                  <hr>
                  <address><label>Address:</label> <span itemprop="address">{{ site.address }}</span></address>
                  <label>Phone:</label> <a href="tel:{{ site.tel1 }}"><span itemprop="telephone">{{ site.tel1 }}</span></a><br>
                  <label>Phone:</label> <a href="tel:{{ site.tel2 }}"><span itemprop="telephone">{{ site.tel2 }}</span></a><br>
                  <label>Phone:</label> <a href="tel:{{ site.tel3 }}"><span itemprop="telephone">{{ site.tel3 }}</span></a><br>
                  <label>Email:</label> <a href="mailto:{{ site.email }}"><span itemprop="email">{{ site.email }}</span></a>
                  <div class="social-icons">
                    <label>Find Us:</label>
                    <a itemprop="url" href="{{ site.facebook }}" target="_blank" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a itemprop="url" href="{{ site.twitter }}" target="_blank" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a itemprop="url" href="{{ site.linkedin }}" target="_blank" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    <a itemprop="url" href="{{ site.github }}" target="_blank" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                    <a itemprop="url" href="{{ site.youtube }}" target="_blank" class="social-icon" title="Youtube"><i class="fa fa-youtube"></i></a>
                    <a data-toggle="modal" data-target="#myModal" class="social-icon" title="WeChat"><i class="fa fa-weixin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
              <div class="widget">
                <h4 class="widget-title"><span itemprop="name">News</span></h4>
                <ul class="posts-list">{% for post in site.categories["news"] limit:3 %}
                  <li>
                    <h5><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h5>
                    <span>{{ post.date | date:"%d %b %Y" }}</span>
                  </li>{% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
              <div class="widget newsletter-widget">
                <h4 class="widget-title">News Subscription</h4>
                <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                <form role="form" action="{{ site.oswweb-mail-url }}/exinxun-news-subscription.php" method="POST">
                  <input type="email" class="form-control" placeholder="Enter your email address" name="email">
                  <button type="submit" class="btn btn-custom">Subscribe Now</button>
                </form>
                <p>* Your email address is 100% safe with us</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div itemscope itemtype="http://schema.org/Organization">
              <div class="text-center">
                <p class="copyright">Copyright © 1998-2018 <span itemprop="name">{{ site.company }}</span> | <a href="{{ site.url }}/sitemap.xml">Sitemap</a> | Designed by Sunshine</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>
    <div class="modal bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">WeChat</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 text-center">
                  <img src="/images/assets/subsciption.jpg" class="img-responsive" alt="Subsciption">
                  <p class="mb20">Subsciption</p>
                </div>
                <div class="col-md-6 text-center">
                  <img src="/images/assets/service-contact.jpg" class="img-responsive" alt="Service Contact">
                  <p class="mb20">Service Contact</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% javascript application %}{% if page.category == 'contact' %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_tJ-wd5iVv9_Nki6K75HXRS58C1HzMUw&callback=initMap" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
            var myLatlng;
            var map;
            var marker;

            function initialize() {
                myLatlng = new google.maps.LatLng(23.0718176, 113.2133416);

                var mapOptions = {
                    zoom: 15,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false,
                    draggable: false
                };
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                var contentString = '<p style="line-height: 20px;"><strong>{{ site.company }}</strong></p><p>{{ site.address }}</p>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Marker'
                });

                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
    </script>{% endif %}
    <div class="cb-search-tool" style="position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
      <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="Search Products">
      <div style="position: fixed; top: 16px; right: 16px;"><i class="fa fa-times-circle fa-3x" style="color:#FFF" id="cb-close-btn"></i></div>
    </div>
    <link rel="stylesheet" href="/assets/cb-search.css">
    <script src="/assets/bootstrap3-typeahead.min.js"></script>
    <script src="/assets/cb-search.js"></script>
  </body>
</html>