---
layout: default
---
<div class="page-title">
  <div class="container">
    <div class="column">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li><a href="{{ site.url }}">Home</a></li>
        <li class="separator">&nbsp;</li>
        <li>{{ page.title }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="container padding-bottom-3x mb-1">
  <div class="row">
    <div class="col-xl-9 col-lg-8 order-lg-2">
      {{ content }}
    </div>
    <div class="col-xl-3 col-lg-4 order-lg-1">
            <button class="sidebar-toggle position-left" data-toggle="modal" data-target="#modalBlogSidebar"><i class="icon-layout"></i></button>
            <aside class="sidebar sidebar-offcanvas">

              <section class="widget widget-categories">
                <h3 class="widget-title">Categories</h3>
                <ul>
                  <li><a href="#">Editor's Choice</a><span>(24)</span></li>
                  <li><a href="#">Fashion</a><span>(12)</span></li>
                  <li><a href="#">Travel</a><span>(5)</span></li>
                  <li><a href="#">Online Shopping</a><span>(7)</span></li>
                  <li><a href="#">Closing Design</a><span>(3)</span></li>
                </ul>
              </section>
              <!-- Widget Featured Posts-->
              <section class="widget widget-featured-posts">
                <h3 class="widget-title">Featured Posts</h3>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="blog-single-rs.html"><img src="img/blog/widget/01.jpg" alt="Post"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="blog-single-rs.html">Trending Winter Boots</a></h4><span class="entry-meta">by Olivia Reyes</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="blog-single-rs.html">Global Travel And Vacations Luxury Travel On A Tight Budget</a></h4><span class="entry-meta">by Logan Coleman</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="blog-single-rs.html"><img src="img/blog/widget/02.jpg" alt="Post"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="blog-single-rs.html">Hoop Earrings A Style From History</a></h4><span class="entry-meta">by Cynthia Gomez</span>
                  </div>
                </div>
              </section>
              <!-- Widget Tags-->
              <section class="widget widget-tags">
                <h3 class="widget-title">Popular Tags</h3><a class="tag" href="#">#design</a><a class="tag" href="#">#fashion</a><a class="tag" href="#">#travelling</a><span class="tag active">#active tag</span><a class="tag" href="#">#shopping</a>
              </section>
              <!-- Promo Banner-->
              <section class="promo-box" style="background-image: url(img/banners/01.jpg);">
                <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.--><span class="overlay-dark" style="opacity: .35;"></span>
                <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                  <h3 class="text-bold text-light text-shadow">New 2017<br>Handbag Collection</h3>
                  <h4 class="text-light text-thin text-shadow">has just arrived!</h4><a class="btn btn-sm btn-primary" href="shop-grid-ls.html">Shop Now</a>
                </div>
              </section>
            </aside>
          </div>
        </div>
      </div>
