---
layout: article
---
<div class="row">
  <div class="col-md-6">
    <div class="product-gallery">
      <div class="gallery-wrapper">
        <div class="gallery-item active"><a href="/images/products/{{ page.image }}-1.jpg" data-hash="one" data-size="1000x667"></a></div>
        <div class="gallery-item"><a href="/images/products/{{ page.image }}-2.jpg" data-hash="two" data-size="1000x667"></a></div>
        <div class="gallery-item"><a href="/images/products/{{ page.image }}-3.jpg" data-hash="three" data-size="1000x667"></a></div>
        <div class="gallery-item"><a href="/images/products/{{ page.image }}-4.jpg" data-hash="four" data-size="1000x667"></a></div>
        <div class="gallery-item"><a href="/images/products/{{ page.image }}-5.jpg" data-hash="five" data-size="1000x667"></a></div>
      </div>
      <div class="product-carousel owl-carousel">
        <div data-hash="one"><img src="/images/products/{{ page.image }}-1.jpg" alt="{{ page.title }}"></div>
        <div data-hash="two"><img src="/images/products/{{ page.image }}-2.jpg" alt="{{ page.title }}"></div>
        <div data-hash="three"><img src="/images/products/{{ page.image }}-3.jpg" alt="{{ page.title }}"></div>
        <div data-hash="four"><img src="/images/products/{{ page.image }}-4.jpg" alt="{{ page.title }}"></div>
        <div data-hash="five"><img src="/images/products/{{ page.image }}-5.jpg" alt="{{ page.title }}"></div>
      </div>
      <ul class="product-thumbnails">
        <li class="active"><a href="#one"><img src="/images/products/{{ page.image }}-1s.jpg" alt="{{ page.title }}"></a></li>
        <li><a href="#two"><img src="/images/products/{{ page.image }}-2s.jpg" alt="{{ page.title }}"></a></li>
        <li><a href="#three"><img src="/images/products/{{ page.image }}-3s.jpg" alt="{{ page.title }}"></a></li>
        <li><a href="#four"><img src="/images/products/{{ page.image }}-4s.jpg" alt="{{ page.title }}"></a></li>
        <li><a href="#five"><img src="/images/products/{{ page.image }}-5s.jpg" alt="{{ page.title }}"></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="padding-top-2x mt-2 hidden-md-up"></div>
    <h2 class="padding-top-1x text-normal">{{ page.title }}</h2>
    <div class="pt-1 mb-2"><span class="text-medium">Style NO:</span> {{ page.title }}</div>
    <div class="padding-bottom-1x mb-2"><span class="text-medium">Main Material:</span> {{ page.material }}</div>
    <div class="padding-bottom-1x mb-2"><span class="text-medium">Size:</span> {{ page.size }}</div>
    <div class="padding-bottom-1x mb-2"><span class="text-medium">Packing:</span> {{ page.packing }} pcs/ctn</div>
    <div class="padding-bottom-1x mb-2"><span class="text-medium">CTN size:</span> {{ page.ctn }}</div>
    <hr class="mb-3">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="entry-share mt-2 mb-2">
        <span class="text-muted">Share:</span>
        <div class="share-links"><a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a></div>
      </div>
      <div class="sp-buttons mt-2 mb-2">
        <a class="btn btn-primary" href="{{ site.url }}/{{ page.type-en }}/">More {{ page.type }}</a>
      </div>
    </div>
  </div>
</div>